<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3 sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link fw-normal #{current_page?(root_path) ? 'active' : ''}" do %>
          <i class="bi bi-chat-left-text"></i>
          Active conversations
        <% end %>
      </li>
      <li class="nav-item">
        <%= link_to "#", class: "nav-link fw-normal" do %>
          <i class="bi bi-people"></i>
          Users
        <% end %>
      </li>
    </ul>

<!--    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase fs-6 fw-bolder">-->
<!--      <span>Public channels</span>-->
      <%#= link_to new_channel_path do %>
<!--              <i class="bi bi-plus-circle"></i>-->
      <%# end %>
<!--    </h6>-->
<!--    <ul class="nav flex-column mb-2">-->
      <%# current_user.channels.public_channel_type.each do |channel| %>
<!--        <li class="nav-item">-->
          <%#= link_to channel.name, channel, class: "nav-link fw-light #{current_page?(channel_path(channel)) ? 'active' : ''}" %>
<!--        </li>-->
      <%# end %>
<!--    </ul>-->

    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase fs-6 fw-bolder">
      <span>Private channels</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <% current_user.channels.private_channel_type.each do |channel| %>
        <li class="nav-item">
          <%= link_to channel.name, channel, class: "nav-link fw-light #{current_page?(channel_path(channel)) ? 'active' : ''}" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
